
@model List<Bier>

<h2>Alle Bieren</h2>

@foreach (var bier in Model)
{
    var url = "Bier/Verwijderen/" + bier.ID; 
<li>
    @Html.DisplayFor(m=>bier.ID) @bier.Naam @Html.DisplayFor(m => bier.Alcohol)
    <a href="~/@url"><img src="~/Images/delete.png" alt="Verwijdren"/></a> 
</li>
}
