@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<vc:mijn-footer footer-tekst="- De Biertempel - Hoppestraat 103 - 3360 Bierbeek - tel. 016123456 - email: info@@biertempel.be -">
</vc:mijn-footer>
